body,
input,
textarea,
button {
    font-family: "Source Code Pro", monospace;
    background-color: #0f0f23;
    color: #03bf0a;
}

p {
    font-weight: 300;
    text-align: center;
}

input,
textarea {
    background-color: #10101a;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 400;
    text-shadow: 0 0 5px rgb(42, 216, 48);
}

body>* {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menuBar,
#tasks {
    width: fit-content;
}

#menuBar>*,
#tasks>* {
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    font-weight: 300;
}

.glowOnHover:hover {
    color: #99ff99;
    text-shadow: 0 0 5px rgb(42, 216, 48);
}

#processInputButton {
    margin-top: 10px;
}

#output {
    margin-top: 10px;
    width: fit-content;
}

#output>* {
    display: inline-block;
    vertical-align: middle;
}

#outputBox {
    border-color: #666666;
    border-width: 2px;
    border-style: solid;
    min-width: 200px;
    min-height: 30px;
    background-color: #10101a;
    padding-left: 5px;
    cursor: pointer;
}